body > main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

body > main > section {
    color: white;
    background-color:  darkblue;
    border-radius: 15px;
    padding:  5px;
    margin: 10px;
}